<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
 
  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">Welcome to the <%= title %> Page</p>

        <div class="my-5">
          <h2>I am Imane Tahri!</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero alias autem ex quod molestias, nulla sed. Accusantium ab vel id sint. Fuga voluptas reiciendis suscipit, dolore quia exercitationem tempora maxime.</p>
        </div>

        <div class="my-5">
          <h2>Mission Statement</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero alias autem ex quod molestias, nulla sed. Accusantium ab vel id sint. Fuga voluptas reiciendis suscipit, dolore quia exercitationem tempora maxime.</p>
        </div>

        <a href="/about" class="btn btn-primary btn-lg mx-auto w-25 d-block">About</a>

      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    