<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
 
  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">Welcome to the <%= title %> Page</p>

        <div class="my-5">
          <h2>I am Imane Tahri!</h2>
          <p>
            Hello I’m Imane Tahri, currently enrolled in Software Engineering program in my 3rd semester at Centennial College. My goal is to be in a good position in my field job. Furthermore, my dream is to travel the world with my family.
          </p>

        </div>

        <div class="my-5">
          <h2>Mission Statement</h2>
          <p>To push myself to stay positive and not to over think.</p> 
         </div>

        <a href="/about" class="btn btn-primary btn-lg mx-auto w-25 d-block">About</a>

      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    