<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 


  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">Below are some of the projects that I'm interested in...</p>
      </div>
    </div>

    <div class="container">

      <div class="card mb-3 w-100">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/Assets/images/Project1.png" class="card-img" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h2>Body Mass Index Calculator</h2>
              <p class="card-text">We were tasked with building a BMI calculator</p>
            
              <a href="http://studentweb.cencol.ca/itahri/Assignment1COMP125/Assignment1.html" class="btn btn-primary btn-lg">Link to Project</a>

            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 w-100">
        <div class="row no-gutters">

          <div class="col-md-7">
            <div class="card-body">
              <h2>Form Validation</h2>
              <p class="card-text">I was able to build a form that could validate a user's inputs.</p>
        
              <a href="http://studentweb.cencol.ca/itahri/Assignment4COMP125/Membership.html" class="btn btn-primary btn-lg">Link to Project</a>

            </div>
          </div>
          <div class="col-md-5">
            <img src="/Assets/images/Project2.png" class="card-img" alt="...">
          </div>
        </div>
      </div>

      <div class="card mb-3 w-100">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/Assets/images/Project3.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h2>Machine Learning</h2>
              <p class="card-text">I am interested in how to use machine learning in enhancing personal productivity.</p>
            
              <a href="https://www.toptal.com/machine-learning/machine-learning-theory-an-introductory-primer" class="btn btn-primary btn-lg">Link to Project</a>

            </div>
          </div>
        </div>
      </div>

    </div>
    

  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    