<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 



  <main class="mb-5">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %> Offered</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/Service1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Web Development</h5>
              <p class="card-text">I have working grasp of HTML, CSS, and JS. Currently I am learning the MEAN stack.</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/Service2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">C# Programming</h5>
              <p class="card-text">I have a good grasp of C# programming fundamentals. </p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/Service3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Translation</h5>
              <p class="card-text">As a trilingual fluent in Arabic, English and French, I can offer high quality translation services for those who are interested.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    