<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 



  <main class="mb-5">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %> Offered</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/Service1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Web Development</h5>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti iure debitis facere dolore nesciunt reprehenderit incidunt? Tempora tempore exercitationem molestiae vero consectetur, aliquam enim maiores, suscipit nisi molestias dicta ratione!</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/Service2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">C# Programming</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate minima aliquam ad, hic porro eius accusamus est similique dicta perferendis, explicabo ut necessitatibus earum repellat maxime. Velit accusamus consectetur esse!</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/Service3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Translation</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non ducimus, vero enim voluptatum reprehenderit assumenda mollitia cum, incidunt, eligendi sequi at sint dolorum atque. Veniam modi cumque ut eaque. Cupiditate.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    